@*/********************************************************
** FileName:    _NonAccountLayout.cshtml
** Author:      Jyoti Prakash Jena
** Date:        28.9.2016
** Purpose:     Master Page for NonAccountController and HomeController
********************************************************/*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="My Doctor. My Prescription." />
    <meta name="author" content="Jyoti Prakash Jena" />

    <title>@ViewBag.Title - MyPrescription</title>
    <link rel="shortcut icon" href="~/Resources/Images/logo.png" />
    
    @Styles.Render("~/Css/Generic")
    @Styles.Render("~/Css/NonAccount")
    
    <!--Font CDNs-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" />
    <link href='http://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400italic' rel='stylesheet' type='text/css' />

    @Scripts.Render("~/bundles/modernizr")

    <!-- Polyfill(s) for older browsers -->
    <script src="~/node_modules/core-js/client/shim.min.js"></script>
    <script src="~/node_modules/zone.js/dist/zone.js"></script>
    <script src="~/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="~/node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("index", "home")">
                    <img src="~/Resources/Images/logo.png" height="50" alt="My Prescription Logo" />
                    My Prescription
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- /navbar -->
    
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->	
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customLibraries")
    
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

    @RenderSection("scripts", required: false)

    <div >
    
        @RenderBody()

    </div>

    <!-- Fixed footer -->
    <footer id="footer" class="top-space">
        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav">
                                <a href="@Url.Action("index", "Home")">Home</a> |
                                <a href="@Url.Action("about", "Home")">About</a> |
                                <b><a href="#">Privacy Policy</a></b> |
                                <a href="@Url.Action("contact","Home")">Contact Us</a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="text-right">
                                Copyright &copy; @DateTime.Now.Year, My Prescription.
                                Designed by <a href="//www.meetvicky.com/" target="_blank">Jyoti Prakash Jena</a>
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>
    </footer>
    <!-- /footer -->

</body>
</html>
